#components-layout-demo-fixed {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 24px 16px 0;
  float: left;
}
.mysite-layout .site-layout-background {
  background: #fff;
}

.logo {
  width: 160px;
  height: 31px;
  margin: 16px 24px 16px 0;
  float: left;
}
